rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isOwner(userId);
      allow create, update, delete: if false;

      match /routes/{routeId} {
        allow read, delete: if isOwner(userId);
        allow create, update: if false;
      }

      match /labels/{labelId} {
        allow read, create, update, delete: if isOwner(userId);
      }
    }
  }
}
